<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Srovnání hráčů</title>
</head>
<body>

<div style="display: flex; width: 30%;" id="charts"></div>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<canvas id="radarChart" width="600" height="400"></canvas>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const ctx = document.getElementById('radarChart').getContext('2d');

        const data = {
            labels: {{ labels|safe }},
            datasets: {{ datasets|safe }}
        };

        const config = {
            type: 'radar',
            data: data,
            options: {
                scales: {
                    r: {
                        beginAtZero: true
                    }
                }
            }
        };

        new Chart(ctx, config);
    });
</script>
</body>
</html>